
@mixin box-shadow($x: 0, $y: 4px, $blur: 8px, $spread: 0, $color: rgba(0, 0, 0, 0.1)) {
  box-shadow: $x $y $blur $spread $color, $x $y 20px $spread $color;
}

@mixin center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 64px 20px;
  min-height: calc(100vh - 50px); 
  height: 100vh;
  box-sizing: border-box;
  background-color: aliceblue;
  @include center-content();
  @include box-shadow();
}