strong {
  color: rgba(0,0,0,0.54);
}

h2 {
  margin-top: 10px;
}

.customer-orders {
  width: 95vw;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header-actions {
  display: flex;
  justify-content: flex-end; 
  margin-right: 30px;
}

.pay-btn {
  background-color: whitesmoke;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pay-btn:hover {
  background-color: ghostwhite;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 

  .header-actions {
    display: flex;
    gap: 8px;
  }

  button {
    font-size: 14px; 
    margin: 0;
  }
}

.details {
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  width: 95%; 
  margin: auto; 
  display: flex;
  justify-content: space-evenly;
}

.add-order {
  margin: 20px auto;
  font-size: 16px; 
  padding: 15px 20px; 
  color: #fff;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 15px; 
  margin-top: 15px;
  justify-content: center; 
  width: 95%; 
  margin: auto; 
  text-align: center; 

  button {
    font-size: 14px;
  }
}

.book-details {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.book-item {
  display: flex;
  align-items: center;
  gap: 16px; 
  cursor: pointer;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.book-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-cover {
  width: 80px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.book-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 4px;
}

.book-title {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.book-author,
.book-genre,
.book-pages {
  font-size: 14px;
  margin: 0;
  color: #2c40f0;
}

.book-link {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.request-details {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}